@font-face {
    font-family: franchise;
    src: url('fonts/franchise-bold.ttf'),
         url('fonts/franchise-bold.eot');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: franchise, serif;
    font-weight: bolder;
    overflow-y: scroll;
}

#pagesContainer {
    display: table;
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.title {
    text-transform: uppercase;
    font-size: 111pt;
    margin: 0 auto;
}