@font-face {
    font-family: franchise;
    src: url('fonts/franchise-bold.ttf'),
         url('fonts/franchise-bold.eot');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: franchise, serif;
    font-weight: bolder;
    overflow-y: scroll;
    height: 100%;
}

#pagesContainer {
    width: 100%;
    height: 400%;
}

#pagesContainer section {
    height: 25%;
    width: 95%;
    padding: 10px 2.5%;

    text-align: center;
    position: relative;

    /* So that we can use table-cell for vertical centering below */
    display: table;
}

.verticalCenterer {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

#titlePage {
    height: 100%;
}

h1#title {
    margin: 7% auto;

    text-transform: uppercase;
    font-size: 232pt;
    letter-spacing: -6px;
    word-spacing: 45px;
    line-height: 83%;
}

#keepReading {
    position: absolute;
    bottom: 2%;
    width: 100%;
    left: 0;

    font-size: 30pt;
}
